openapi: 3.2.0
info:
  description: CustomerOS API for multiple services (Verify, Enrich, Orgs)
  title: CustomerOS Mailboxes API
  contact: {}
  version: '1.0'
servers:
- url: https://api.customeros.ai/
tags:
- name: Mailboxes
paths:
  /domains/{domain}/mailboxes:
    get:
      security:
      - ApiKeyAuth: []
      description: Retrieves all mailboxes configured for the specified domain
      tags:
      - Mailboxes
      summary: List mailboxes
      parameters:
      - example: example.com
        description: Domain name
        name: domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved mailboxes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restmailstack.MailboxesResponse'
        '400':
          description: Missing domain parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '401':
          description: Unauthorized - Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
      operationId: getDomainsByDomainMailboxes
      x-operation-id-source: derived
    post:
      security:
      - ApiKeyAuth: []
      description: Creates a new mailbox for the specified domain with optional forwarding and webmail access
      tags:
      - Mailboxes
      summary: Create mailbox
      parameters:
      - example: example.com
        description: Domain name
        name: domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Mailbox created successfully with generated password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restmailstack.MailboxResponse'
        '400':
          description: Invalid request - Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '401':
          description: Unauthorized - Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '409':
          description: Mailbox already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/restmailstack.MailboxRequest'
        description: Mailbox configuration
        required: true
      operationId: postDomainsByDomainMailboxes
      x-operation-id-source: derived
components:
  schemas:
    restmailstack.MailboxRequest:
      description: Request payload for creating and configuring a new mailbox
      type: object
      properties:
        forwardingTo:
          description: 'List of email addresses to forward to

            required: false

            maxItems: 10

            example: ["user1@example.com","user2@example.com"]'
          type: array
          items:
            type: string
        linkedUser:
          description: 'Associated user''s email address

            required: false

            format: email

            example: john.doe@mycompany.com'
          type: string
        password:
          description: 'Password for mailbox access

            required: false

            minLength: 8

            maxLength: 64

            example: SecurePassword123!'
          type: string
        username:
          description: 'Username for the mailbox

            required: true

            pattern: ^[a-zA-Z0-9._%+-]+$

            minLength: 3

            maxLength: 64

            example: john.doe'
          type: string
        webmailEnabled:
          description: 'Enable webmail access

            required: false

            default: false'
          type: boolean
    rest.ErrorResponse:
      type: object
      properties:
        message:
          type: string
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    restmailstack.MailboxResponse:
      description: Response containing mailbox details and status
      type: object
      properties:
        mailbox:
          description: 'Mailbox information

            required: false'
          allOf:
          - $ref: '#/components/schemas/restmailstack.MailboxRecord'
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    restmailstack.MailboxesResponse:
      description: Response containing list of mailboxes and status
      type: object
      properties:
        mailboxes:
          description: 'List of mailboxes

            required: false'
          type: array
          items:
            $ref: '#/components/schemas/restmailstack.MailboxRecord'
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    restmailstack.MailboxRecord:
      description: Comprehensive mailbox configuration and status
      type: object
      properties:
        email:
          description: 'Email address for the mailbox

            required: true

            format: email

            example: user@example.com'
          type: string
        forwardingEnabled:
          description: 'Email forwarding status

            required: true

            default: false'
          type: boolean
        forwardingTo:
          description: 'List of forwarding email addresses

            required: false

            maxItems: 10'
          type: array
          items:
            type: string
        password:
          description: 'Mailbox password (only included in specific responses)

            required: false

            minLength: 8

            maxLength: 64'
          type: string
        webmailEnabled:
          description: 'Webmail access status

            required: true

            default: false'
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-CUSTOMER-OS-API-KEY
      in: header
