openapi: 3.2.0
info:
  description: CustomerOS API for multiple services (Verify, Enrich, Orgs)
  title: CustomerOS Outreach API
  contact: {}
  version: '1.0'
servers:
- url: https://api.customeros.ai/
tags:
- name: Outreach
paths:
  /outreach/v1/email/tracking:
    post:
      security:
      - ApiKeyAuth: []
      description: Generates tracking pixels, click tracking URLs, and unsubscribe links for email campaigns
      tags:
      - Outreach
      summary: Generate email tracking URLs
      responses:
        '200':
          description: Tracking URLs generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restoutreach.EmailTrackingResponse'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '401':
          description: Unauthorized - Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/restoutreach.EmailTrackingRequest'
        description: Tracking URL generation configuration
        required: true
      operationId: postOutreachV1EmailTracking
      x-operation-id-source: derived
components:
  schemas:
    restoutreach.EmailTrackingRequest:
      description: Request payload for generating email tracking URLs and pixels
      type: object
      properties:
        campaignId:
          description: 'Unique identifier for the email campaign

            required: true

            example: camp_123456'
          type: string
        generateUnsubscribeLink:
          description: 'Enable unsubscribe link generation

            required: false

            default: false'
          type: boolean
        links:
          description: 'List of URLs to be tracked

            required: false

            example: ["https://example.com/page1", "https://example.com/page2"]'
          type: array
          items:
            type: string
        messageId:
          description: 'Unique identifier for the message (optional, generated if not provided)

            required: false

            example: msg_123456'
          type: string
        recipientId:
          description: 'Unique identifier for the recipient

            required: true

            example: recipient_123456'
          type: string
        trackClicks:
          description: 'Enable click tracking for links

            required: false

            default: false'
          type: boolean
        trackOpens:
          description: 'Enable open tracking via pixel

            required: false

            default: false'
          type: boolean
        trackerDomain:
          description: 'Domain to use for tracking URLs (optional, system default used if not provided)

            required: false

            format: hostname

            example: track.example.com'
          type: string
        unsubscribeLink:
          description: 'URL for unsubscribe page

            required: false

            format: uri

            example: https://example.com/unsubscribe'
          type: string
    rest.ErrorResponse:
      type: object
      properties:
        message:
          type: string
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    restoutreach.TrackedLink:
      description: Pair of original and tracking-enabled URLs
      type: object
      properties:
        original:
          description: 'Original URL before tracking

            required: true

            format: uri'
          type: string
          example: https://example.com/page1
        tracked:
          description: 'Generated tracking URL

            required: true

            format: uri'
          type: string
          example: https://track.example.com/r/abc123
    restoutreach.EmailTrackingResponse:
      description: Response containing generated tracking URLs and pixel
      type: object
      properties:
        status:
          description: 'Operation status

            required: true

            enum: success'
          type: string
          example: success
        trackedLinks:
          description: 'List of original and tracked URLs (only if TrackClicks is true)

            required: false'
          type: array
          items:
            $ref: '#/components/schemas/restoutreach.TrackedLink'
        trackingId:
          description: 'Generated or provided message ID

            required: true'
          type: string
          example: msg_123456
        trackingPixel:
          description: 'URL for tracking pixel (only if TrackOpens is true)

            required: false

            format: uri'
          type: string
          example: https://track.example.com/p/abc123
        unsubscribeLink:
          description: 'Generated unsubscribe link (only if GenerateUnsubscribeLink is true)

            required: false

            format: uri'
          type: string
          example: https://track.example.com/u/abc123
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-CUSTOMER-OS-API-KEY
      in: header
