openapi: 3.2.0
info:
  description: CustomerOS API for multiple services (Verify, Enrich, Orgs)
  title: CustomerOS Billing API
  contact: {}
  version: '1.0'
servers:
- url: https://api.customeros.ai/
tags:
- name: Billing API
paths:
  /billing/v1/organizations/{id}/invoices:
    get:
      security:
      - ApiKeyAuth: []
      description: Retrieves all non-dry-run invoices for a specific organization, sorted by due date descending
      tags:
      - Billing API
      summary: Get organization's invoices
      parameters:
      - example: org_123
        description: Organization ID or COS ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of invoices retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing.InvoicesResponse'
        '206':
          description: Invoices retrieved with some errors fetching public URLs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing.InvoicesResponse'
        '400':
          description: Invalid organization ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.BaseResponse'
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.BaseResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.BaseResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.BaseResponse'
      operationId: getBillingV1OrganizationsByIdInvoices
      x-operation-id-source: derived
components:
  schemas:
    rest.BaseResponse:
      description: Standard response structure for API operations
      type: object
      properties:
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    billing.InvoicesResponse:
      description: Response containing multiple invoices
      type: object
      properties:
        invoices:
          description: 'List of invoices

            required: false'
          type: array
          items:
            $ref: '#/components/schemas/billing.InvoiceRecord'
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    billing.InvoiceRecord:
      description: Detailed invoice information including payment details and status
      type: object
      properties:
        amount:
          description: 'Total amount due for the invoice

            required: true

            example: 1500.50

            minimum: 0'
          type: number
        currency:
          description: 'Currency code for the invoice amount

            required: true

            example: USD

            pattern: ^[A-Z]{3}$'
          type: string
        dueDate:
          description: 'Date when the invoice payment is due

            required: true

            example: 2024-12-01T00:00:00Z

            format: date-time'
          type: string
        id:
          description: 'Unique identifier for the invoice

            required: true

            example: 123e4567-e89b-12d3-a456-426614174000

            format: uuid'
          type: string
        invoiceStatus:
          description: 'Current status of the invoice

            required: true

            example: PAID

            enum: DRAFT,PENDING,PAID,OVERDUE,CANCELLED,VOID'
          type: string
        number:
          description: 'Invoice number or reference

            required: true

            example: INV-2024-001

            minLength: 1'
          type: string
        paymentLink:
          description: 'URL where the invoice can be paid

            required: false

            example: https://payment.example.com/inv/12345

            format: uri'
          type: string
        publicUrl:
          description: 'Public URL to access the invoice PDF

            required: false

            example: https://invoices.example.com/12345.pdf

            format: uri'
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-CUSTOMER-OS-API-KEY
      in: header
