openapi: 3.2.0
info:
  description: CustomerOS API for multiple services (Verify, Enrich, Orgs)
  title: CustomerOS Domains API
  contact: {}
  version: '1.0'
servers:
- url: https://api.customeros.ai/
tags:
- name: Domains
paths:
  /domains:
    get:
      security:
      - ApiKeyAuth: []
      description: Retrieves all active domains for the authenticated tenant
      tags:
      - Domains
      summary: List active domains
      responses:
        '200':
          description: Successfully retrieved domain list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restmailstack.DomainsResponse'
        '401':
          description: Unauthorized - Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '500':
          description: Internal server error - Unable to retrieve domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
      operationId: getDomains
      x-operation-id-source: derived
    post:
      security:
      - ApiKeyAuth: []
      description: Registers and configures a new domain for mail services, including DNS setup
      tags:
      - Domains
      summary: Register new domain
      responses:
        '201':
          description: Domain registered and configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restmailstack.DomainResponse'
        '400':
          description: Invalid request - Missing required fields or invalid format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '401':
          description: Unauthorized - Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '406':
          description: Not Acceptable - Domain TLD not supported or premium domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '409':
          description: Conflict - Domain already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '500':
          description: Internal server error - Configuration failed or service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/restmailstack.RegisterNewDomainRequest'
        description: Domain registration details
        required: true
      operationId: postDomains
      x-operation-id-source: derived
  /domains/configure:
    post:
      security:
      - ApiKeyAuth: []
      description: Sets up DNS records and mail services for an existing domain
      tags:
      - Domains
      summary: Configure domain DNS
      responses:
        '201':
          description: Domain configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restmailstack.DomainResponse'
        '400':
          description: Invalid request - Missing required fields or invalid format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '401':
          description: Unauthorized - Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '404':
          description: Not Found - Domain not found or not owned by tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '500':
          description: Internal server error - Configuration failed or service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/restmailstack.ConfigureDomainRequest'
        description: Domain configuration details
        required: true
      operationId: postDomainsConfigure
      x-operation-id-source: derived
components:
  schemas:
    restmailstack.ConfigureDomainRequest:
      description: Request payload for configuring domain DNS and mail services
      type: object
      properties:
        domain:
          description: 'Domain name to configure

            required: true

            pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\.[a-zA-Z]{2,}$

            example: example.com'
          type: string
        website:
          description: 'Website URL for domain configuration

            required: true

            format: uri

            example: https://www.example.com'
          type: string
    rest.ErrorResponse:
      type: object
      properties:
        message:
          type: string
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    restmailstack.DomainRecord:
      description: Comprehensive domain record information
      type: object
      properties:
        createdDate:
          description: 'Domain registration date

            required: true

            format: date

            example: 2024-09-14'
          type: string
        domain:
          description: 'Registered domain name

            required: true

            example: example.com'
          type: string
        expiredDate:
          description: 'Domain expiration date

            required: true

            format: date

            example: 2025-09-14'
          type: string
        nameservers:
          description: 'List of assigned nameservers

            required: true

            minItems: 2

            example: ["ns1.example.com","ns2.example.com"]'
          type: array
          items:
            type: string
    restmailstack.RegisterNewDomainRequest:
      description: Request payload for registering a new domain for mail services
      type: object
      properties:
        domain:
          description: 'Domain name to register

            required: true

            pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\.[a-zA-Z]{2,}$

            example: example.com'
          type: string
        website:
          description: 'Website URL for domain configuration

            required: true

            format: uri

            example: https://www.example.com'
          type: string
    restmailstack.DomainsResponse:
      description: Response containing list of domains and status
      type: object
      properties:
        domains:
          description: 'List of domains

            required: true'
          type: array
          items:
            $ref: '#/components/schemas/restmailstack.DomainRecord'
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    restmailstack.DomainResponse:
      description: Response containing domain details and status
      type: object
      properties:
        domain:
          description: 'Domain information

            required: true'
          allOf:
          - $ref: '#/components/schemas/restmailstack.DomainRecord'
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-CUSTOMER-OS-API-KEY
      in: header
