openapi: 3.2.0
info:
  description: CustomerOS API for multiple services (Verify, Enrich, Orgs)
  title: CustomerOS IP Intelligence API
  contact: {}
  version: '1.0'
servers:
- url: https://api.customeros.ai/
tags:
- name: IP Intelligence
paths:
  /verify/v1/ip:
    get:
      security:
      - ApiKeyAuth: []
      description: Retrieves comprehensive information about an IP address including threats, geolocation, and network details
      tags:
      - IP Intelligence
      summary: Get IP intelligence data
      parameters:
      - description: IP address to analyze
        name: address
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: IP intelligence data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restverify.IpIntelligenceResponse'
        '400':
          description: Invalid IP address format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '401':
          description: Unauthorized - Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rest.ErrorResponse'
      operationId: getVerifyV1Ip
      x-operation-id-source: derived
components:
  schemas:
    restverify.IpIntelligenceOrganization:
      description: Organization information associated with the IP address
      type: object
      properties:
        domain:
          description: 'Organization domain

            required: false'
          type: string
          example: company.com
        linkedin:
          description: 'LinkedIn profile URL

            required: false

            format: uri'
          type: string
          example: https://linkedin.com/company/company
        name:
          description: 'Organization name

            required: false'
          type: string
          example: Company Name
    restverify.IpIntelligenceTimeZone:
      description: Timezone information for the IP address location
      type: object
      properties:
        abbr:
          description: 'Timezone abbreviation

            required: true

            example: CET'
          type: string
        current_time:
          description: 'Current time in the timezone

            required: true

            format: date-time'
          type: string
          example: '2024-09-10T14:00:00+01:00'
        is_dst:
          description: 'Indicates if daylight saving time is active

            required: true'
          type: boolean
          example: true
        name:
          description: 'IANA timezone name

            required: true

            example: Europe/Berlin'
          type: string
        offset:
          description: 'UTC offset

            required: true

            pattern: ^[+-]\d{4}$'
          type: string
          example: '+0100'
    rest.ErrorResponse:
      type: object
      properties:
        message:
          type: string
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
    restverify.IpIntelligenceNetwork:
      description: Network information for the IP address
      type: object
      properties:
        asn:
          description: 'Autonomous System Number

            required: true

            pattern: ^AS\d+$'
          type: string
          example: AS12345
        domain:
          description: 'Network domain

            required: false'
          type: string
          example: isp.com
        name:
          description: 'Network name

            required: true'
          type: string
          example: ISP Name
        route:
          description: 'Network route (CIDR notation)

            required: true

            pattern: ^(\d{1,3}\.){3}\d{1,3}/\d{1,2}$'
          type: string
          example: 192.168.0.0/16
        type:
          description: 'Network type

            required: true

            enum: business,hosting,isp,education,government'
          type: string
          example: business
    restverify.IpIntelligenceGeolocation:
      description: Geographic location information for the IP address
      type: object
      properties:
        city:
          description: 'City name

            required: false'
          type: string
          example: Berlin
        country:
          description: 'Country name

            required: true'
          type: string
          example: Germany
        countryIso:
          description: 'ISO 3166-1 alpha-2 country code

            required: true

            pattern: ^[A-Z]{2}$'
          type: string
          example: DE
        isEuropeanUnion:
          description: 'Indicates if country is in the European Union

            required: true'
          type: boolean
          example: true
    restverify.IpIntelligenceRecord:
      description: Comprehensive information about an IP address
      type: object
      properties:
        geolocation:
          description: 'Geolocation information

            required: true'
          allOf:
          - $ref: '#/components/schemas/restverify.IpIntelligenceGeolocation'
        ipAddress:
          description: 'IP address being analyzed

            required: true

            pattern: ^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$'
          type: string
          example: 192.168.1.1
        network:
          description: 'Network information

            required: true'
          allOf:
          - $ref: '#/components/schemas/restverify.IpIntelligenceNetwork'
        organization:
          description: 'Organization information

            required: false'
          allOf:
          - $ref: '#/components/schemas/restverify.IpIntelligenceOrganization'
        threats:
          description: 'Threat intelligence information

            required: true'
          allOf:
          - $ref: '#/components/schemas/restverify.IpIntelligenceThreats'
        time_zone:
          description: 'Timezone information

            required: true'
          allOf:
          - $ref: '#/components/schemas/restverify.IpIntelligenceTimeZone'
    restverify.IpIntelligenceThreats:
      description: Threat intelligence indicators for the IP address
      type: object
      properties:
        isCloudRelay:
          description: 'Indicates if IP is a cloud relay

            required: true'
          type: boolean
          example: false
        isDatacenter:
          description: 'Indicates if IP belongs to a datacenter

            required: true'
          type: boolean
          example: false
        isMobile:
          description: 'Indicates if IP belongs to a mobile network

            required: true'
          type: boolean
          example: false
        isProxy:
          description: 'Indicates if IP is a proxy

            required: true'
          type: boolean
          example: false
        isTor:
          description: 'Indicates if IP is a TOR exit node

            required: true'
          type: boolean
          example: false
        isUnallocated:
          description: 'Indicates if IP is unallocated

            required: true'
          type: boolean
          example: false
        isVpn:
          description: 'Indicates if IP is a VPN

            required: true'
          type: boolean
          example: false
    restverify.IpIntelligenceResponse:
      description: Response containing IP intelligence data including threats, geolocation, and network information
      type: object
      properties:
        ip:
          description: 'IP intelligence details

            required: true'
          allOf:
          - $ref: '#/components/schemas/restverify.IpIntelligenceRecord'
        requestId:
          type: string
          example: 1234567890abcdef
        status:
          description: Status indicates the result of the operation ("success" or "error")
          type: string
          example: success
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-CUSTOMER-OS-API-KEY
      in: header
